.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.info {
  max-width: 50vw;
  border-radius: 50px;
  padding: 0.2rem;
  border: white solid 2px;
  border-top: none;
  border-bottom: none;
  margin-bottom: 6vh;
}

a {
  color: lightblue;
}
